// @flow

//  Copyright (c) 2017 First Foundry LLC. All rights reserved.
//  @created:
//  @author:

import React from 'react'
import PropTypes from 'prop-types'

class {{ properCase name }} extends React.Component {

  static propTypes = {

  }

  render() {
    return (
      <div>
      </div>
    )
  }
}

export default {{ properCase name }}
