// @flow

//  Copyright (c) 2017 First Foundry LLC. All rights reserved.
//  @created:
//  @author:

import React from 'react'
import PropTypes from 'prop-types'

function {{ properCase name }}() {
  return (
    <div>
    </div>
  )
}

{{ properCase name }}.propTypes = {

}

export default {{ properCase name }}
